img {
  display: inline-block;
  max-width: 100%;
}

.nav {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  width: 100%;
  height: 70px;
  margin-bottom: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  background-image: -webkit-linear-gradient(270deg, #fdfdfd, #fdfdfd);
  background-image: linear-gradient(180deg, #fdfdfd, #fdfdfd);
  box-shadow: 2px 0 5px 2px rgba(0, 0, 0, .58);
}

.logo {
  display: block;
  height: 30px;
  margin-left: 0px;
}

.logo.logohp {
  margin-left: 70px;
}

.brand {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.navcontact {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 100%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.adress {
  margin-right: 40px;
  font-family: Oswald, sans-serif;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
}

.adress:hover {
  margin-top: 2px;
  margin-bottom: 0px;
  border-width: 2px;
  border-color: #333;
  border-bottom-style: solid;
}

.bold-text {
  font-family: Oswald, sans-serif;
}

.text-block {
  margin-right: 80px;
  font-family: Oswald, sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}

.text-block-2 {
  position: static;
  left: 70px;
  bottom: 50px;
  font-family: Oswald, sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.column {
  padding-right: 0px;
  padding-left: 0px;
  -webkit-transition: width 150ms ease;
  transition: width 150ms ease;
}

.containercustom {
  position: relative;
  display: block;
  width: 1070px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-3 {
  position: absolute;
  left: 0px;
  top: 0px;
  display: block;
  overflow: visible;
  padding: 5px 15px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-style: none none solid;
  border-width: 1px 1px 4px;
  border-color: #000 #000 #ffa200;
  font-family: Montserrat, sans-serif;
  color: #ffa200;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.heading {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-family: Montserrat, sans-serif;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
}

.icon {
  margin-right: 10px;
}

.header {
  display: block;
  width: 100%;
  min-height: 100px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-3 {
  position: absolute;
  left: 670px;
  top: -3px;
  display: block;
  margin-left: 40px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.image-3.zahrada-icon {
  top: -5px;
  margin-left: 90px;
}

.image-3.vyskove-prace-icon {
  top: -5px;
}

.image-3.arbor-icon {
  margin-left: 15px;
}

.image-3.rescue-icon {
  top: 10px;
  margin-left: 20px;
}

.divider {
  display: block;
  width: 275px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  border-bottom: 4px solid #ffa200;
}

.text-block-4 {
  margin-right: 10px;
  margin-bottom: 50px;
  font-family: Montserrat, sans-serif;
  color: #000;
  line-height: 30px;
  font-style: italic;
  font-weight: 300;
  letter-spacing: 1px;
}

.column-2 {
  padding-right: 0px;
  padding-left: 0px;
}

.column-3 {
  position: relative;
  padding-right: 0px;
  padding-left: 0px;
  text-align: right;
}

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footertext {
  display: inline-block;
  font-family: Oswald, sans-serif;
  font-size: 16px;
  line-height: auto;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.body {
  color: #000;
}

.image-4 {
  margin-right: 10px;
  margin-left: 10px;
}

.image-5 {
  margin-right: 5px;
}

.image-6 {
  box-shadow: 1px 6px 6px 0 rgba(0, 0, 0, .4);
  opacity: 1;
}

.arboristika {
  background-image: -webkit-linear-gradient(270deg, #0443ca, #0443ca);
  background-image: linear-gradient(180deg, #0443ca, #0443ca);
}

.arboristika.columncontent {
  min-height: 0px;
  background-image: url('../images/arboristika.jpg'), -webkit-linear-gradient(270deg, #0443ca, #0443ca);
  background-image: url('../images/arboristika.jpg'), linear-gradient(180deg, #0443ca, #0443ca);
  background-position: 50% 50%, 0px 0px;
  background-size: cover, auto;
  box-shadow: inset 0 -180px 100px -25px rgba(0, 0, 0, .8);
}

.body-2 {
  overflow: visible;
  letter-spacing: 0.5px;
}

.textcontainer {
  position: static;
  left: 70px;
  bottom: 40px;
  display: block;
}

.mediumdivider {
  width: 80px;
  margin-top: 10px;
  border-style: none none solid;
  border-color: #ffa200;
  border-bottom-width: 3px;
}

.image-7 {
  margin-left: 20px;
  float: right;
}

.headcontainer {
  position: absolute;
  left: 70px;
  right: 70px;
  bottom: 40px;
  display: block;
  height: 60px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: bottom 400ms ease;
  transition: bottom 400ms ease;
}

.vysprace {
  background-image: url('../images/vyskove_prace_background.png');
  background-position: 0px 0px;
  background-size: cover;
}

.vysprace.columncontent {
  min-height: 0px;
  background-image: url('../images/vyskove-prace.jpg'), -webkit-linear-gradient(270deg, #a30000, #a30000);
  background-image: url('../images/vyskove-prace.jpg'), linear-gradient(180deg, #a30000, #a30000);
  background-position: 50% 50%, 0px 0px;
  background-size: cover, auto;
  box-shadow: inset 0 -180px 100px -25px rgba(0, 0, 0, .8);
}

.column-4 {
  padding-right: 0px;
  padding-left: 0px;
}

.columncontent {
  position: relative;
  overflow: hidden;
  width: 25%;
  height: 100%;
  min-height: 877px;
  -webkit-transition: width 400ms ease;
  transition: width 400ms ease;
}

.columncontent:hover {
  width: 35%;
}

.zahprace.columncontent {
  min-height: 0px;
  background-image: url('../images/zahradni-prace.jpg'), -webkit-linear-gradient(270deg, #005f2e, #005f2e);
  background-image: url('../images/zahradni-prace.jpg'), linear-gradient(180deg, #005f2e, #005f2e);
  background-position: 50% 50%, 0px 0px;
  background-size: cover, auto;
  box-shadow: inset 0 -180px 100px -25px rgba(0, 0, 0, .8);
}

.rescue.columncontent {
  min-height: 0px;
  background-image: url('../images/profirescue.jpg'), -webkit-linear-gradient(270deg, #bbd400, #bbd400);
  background-image: url('../images/profirescue.jpg'), linear-gradient(180deg, #bbd400, #bbd400);
  background-position: 50% 50%, 0px 0px;
  background-size: cover, auto;
  box-shadow: inset 0 -180px 100px -25px rgba(0, 0, 0, .8);
}

.jobicon {
  margin-top: -5px;
  margin-left: 20px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.jobicon.car {
  margin-top: 10px;
}

.jobicon.zahicon {
  margin-top: -25px;
}

.text-block-5 {
  line-height: 30px;
}

.text-block-6 {
  font-family: Montserrat, sans-serif;
  line-height: 30px;
  letter-spacing: 1px;
}

.text-block-7 {
  line-height: 30px;
}

.text-block-8 {
  line-height: 30px;
}

.text-block-9 {
  line-height: 30px;
}

.unordered-list {
  line-height: 30px;
}

.text-block-10 {
  line-height: 48px;
}

.text-block-11 {
  line-height: 48px;
}

.text-block-12 {
  line-height: 48px;
}

.text-block-13 {
  line-height: 48px;
}

.unordered-list-2 {
  line-height: 48px;
}

.list-item {
  font-family: Montserrat, sans-serif;
  line-height: 48px;
  font-weight: 400;
  list-style-type: disc;
}

.column-5 {
  padding-right: 0px;
  padding-left: 0px;
}

.column-6 {
  padding-right: 0px;
  padding-left: 0px;
}

.rowcustom {
  position: relative;
  z-index: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
}

.headingcontainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.jobdescription {
  display: none;
  margin-top: 20px;
  opacity: 1;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 12px;
  font-weight: 300;
}

.link {
  border: 1px solid #ffa200;
  opacity: 1;
  font-family: Oswald, sans-serif;
  font-size: 12px;
  font-weight: 200;
  letter-spacing: 2px;
}

.morebutton {
  display: none;
  width: 130px;
  height: 30px;
  margin-top: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #ffa200;
  text-decoration: none;
}

.morebutton:hover {
  display: none;
  border-style: none;
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
}

.text-block-14 {
  position: static;
  bottom: 390px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  border-style: none;
  border-bottom-width: 1px;
  border-bottom-color: #000;
  font-family: Oswald, sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 2px;
  text-decoration: none;
}

.image-10 {
  margin-top: 5px;
  margin-left: 5px;
}

.div-block {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.backgroundgradient {
  width: 100%;
  height: 100%;
  min-height: 877px;
  background-image: -webkit-linear-gradient(270deg, #000, #000);
  background-image: linear-gradient(180deg, #000, #000);
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.backgroundgradient.column-4 {
  min-height: 0px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.back-button {
  color: #ffa200;
  text-decoration: none;
}

.link-block {
  margin-left: 70px;
}

.link-2 {
  color: #000;
  text-decoration: none;
}

.link-3 {
  color: #000;
  text-decoration: none;
}

.link-4 {
  color: #000;
  text-decoration: none;
}

.link-5 {
  color: #fafafa;
  text-decoration: none;
}

.link-6 {
  color: #fff;
  text-decoration: none;
}

.link-7 {
  color: #fff;
  text-decoration: none;
}

.link-8 {
  color: #fff;
  text-decoration: none;
}

.image-11 {
  width: 90%;
  height: 250px;
  margin-right: 0px;
  margin-left: 60px;
  padding-left: 0px;
  box-shadow: 0 10px 16px 2px rgba(0, 0, 0, .55);
}

.div-block-2 {
  position: static;
  width: 90%;
  height: 380px;
  margin-bottom: 0px;
  margin-left: 60px;
  float: none;
  background-image: url('../images/zahradni-prace.jpg');
  background-position: 50% 92%;
  background-size: cover;
  box-shadow: 0 10px 16px 2px rgba(0, 0, 0, .55);
}

.div-block-3 {
  width: 90%;
  height: 270px;
  margin-left: 60px;
  background-image: url('../images/profirescue.jpg');
  background-position: 50% 0px;
  background-size: cover;
  box-shadow: 0 10px 16px 2px rgba(0, 0, 0, .55);
}

.div-block-4 {
  width: 90%;
  height: 270px;
  margin-left: 100px;
  padding-right: 0px;
  background-image: url('../images/vyskove-prace.jpg');
  background-position: 50% 50%;
  background-size: cover;
  box-shadow: 0 10px 16px 2px rgba(0, 0, 0, .55);
}

.div-block-5 {
  width: 90%;
  height: 270px;
  margin-left: 60px;
  background-image: url('../images/arboristika.jpg');
  background-position: 50% 50%;
  background-size: cover;
  box-shadow: 0 10px 16px 2px rgba(0, 0, 0, .55);
}

.list-item-2 {
  line-height: 48px;
}

.link-9 {
  color: #333;
  text-decoration: none;
  text-transform: uppercase;
}

@media (max-width: 991px) {
  .logo {
    margin-left: 0px;
  }
  .logo.logohp {
    margin-left: 15px;
  }
  .adress {
    display: block;
    margin-right: 15px;
  }
  .text-block {
    margin-right: 15px;
  }
  .containercustom {
    width: auto;
  }
  .icon {
    display: block;
  }
  .icon.home-icon {
    position: static;
  }
  .image-3 {
    left: 50%;
    top: -5px;
    margin-left: 170px;
  }
  .image-3.zahrada-icon {
    margin-left: 225px;
  }
  .image-3.arbor-icon {
    margin-left: 140px;
  }
  .image-3.rescue-icon {
    margin-left: 145px;
  }
  .text-block-4 {
    margin-right: 0px;
  }
  .column-2 {
    padding-right: 15px;
    padding-left: 15px;
  }
  .column-3 {
    padding-right: 15px;
    padding-left: 15px;
  }
  .image-6 {
    overflow: visible;
    width: 100%;
    height: 100%;
  }
  .arboristika.columncontent {
    width: 100%;
    height: 25%;
    min-height: 80px;
    box-shadow: inset 200px 0 50px 0 rgba(0, 0, 0, .8);
  }
  .headcontainer {
    position: absolute;
    left: 70px;
    top: 50%;
    right: 0px;
    bottom: 0px;
    display: block;
    overflow: visible;
    height: 30px;
    -webkit-transform: translate(0px, -50%);
    -ms-transform: translate(0px, -50%);
    transform: translate(0px, -50%);
  }
  .vysprace.columncontent {
    display: block;
    width: 100%;
    height: 25%;
    min-height: 80px;
    background-image: url('../images/vyskove-prace.jpg'), -webkit-linear-gradient(270deg, transparent, transparent);
    background-image: url('../images/vyskove-prace.jpg'), linear-gradient(180deg, transparent, transparent);
    background-position: 50% 33%, 0px 0px;
    box-shadow: inset 200px 0 50px 0 rgba(0, 0, 0, .8);
  }
  .zahprace.columncontent {
    width: 100%;
    height: 25%;
    min-height: 80px;
    background-image: url('../images/zahradni-prace.jpg'), -webkit-linear-gradient(270deg, transparent, transparent);
    background-image: url('../images/zahradni-prace.jpg'), linear-gradient(180deg, transparent, transparent);
    background-position: 50% 85%, 0px 0px;
    box-shadow: inset 200px 0 50px 0 rgba(0, 0, 0, .8);
  }
  .rescue.columncontent {
    width: 100%;
    height: 25%;
    min-height: 80px;
    background-image: url('../images/profirescue.jpg'), -webkit-linear-gradient(270deg, transparent, transparent);
    background-image: url('../images/profirescue.jpg'), linear-gradient(180deg, transparent, transparent);
    background-position: 50% 42%, 0px 0px;
    box-shadow: inset 200px 0 50px 0 rgba(0, 0, 0, .8);
  }
  .rowcustom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
  }
  .morebutton {
    display: none;
  }
  .backgroundgradient.column-4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
  }
  .link-block {
    margin-left: 15px;
  }
  .image-11 {
    margin-left: 0px;
  }
  .div-block-2 {
    width: 100%;
    height: 350px;
    margin-left: 0px;
  }
  .div-block-3 {
    width: 100%;
    height: 350px;
    margin-left: 0px;
    background-position: 50% 38%;
  }
  .div-block-4 {
    width: 100%;
    height: 450px;
    margin-left: 0px;
    background-position: 50% 50%;
  }
  .div-block-5 {
    width: 100%;
    margin-left: 0px;
    background-position: 50% 71%;
  }
}

@media (max-width: 767px) {
  .adress {
    display: none;
  }
  .text-block-3 {
    display: none;
  }
  .icon {
    display: block;
  }
  .icon.home-icon {
    display: none;
  }
  .text-block-4 {
    margin-right: 0px;
  }
  .headcontainer {
    left: 30px;
    bottom: 0px;
    height: 30px;
  }
  .headingcontainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .jobdescription {
    display: none;
  }
}

@media (max-width: 479px) {
  .logo {
    height: 25px;
    margin-left: 0px;
    padding-left: 0px;
  }
  .text-block {
    margin-right: 15px;
    font-size: 14px;
  }
  .containercustom {
    width: auto;
  }
  .heading {
    display: block;
    font-size: 24px;
    text-align: center;
  }
  .header {
    position: static;
    width: auto;
    margin-top: 70px;
    margin-bottom: 0px;
  }
  .image-3 {
    position: absolute;
    left: 50%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    display: block;
    overflow: visible;
    max-width: none;
    margin-left: 116px;
    padding-left: 0px;
  }
  .image-3.zahrada-icon {
    margin-top: -32px;
    margin-bottom: 0px;
    margin-left: -22px;
  }
  .image-3.vyskove-prace-icon {
    top: -10px;
    margin-top: -45px;
    margin-left: -23px;
  }
  .image-3.arbor-icon {
    margin-top: -40px;
    margin-bottom: 0px;
    margin-left: -23px;
  }
  .image-3.rescue-icon {
    position: absolute;
    left: 50%;
    top: 5px;
    bottom: 0px;
    margin-top: -22px;
    margin-bottom: 0px;
    margin-left: -28px;
  }
  .divider {
    width: 175px;
    margin-top: 0px;
  }
  .text-block-4 {
    font-size: 12px;
    text-align: center;
  }
  .column-2 {
    padding-right: 15px;
    padding-left: 15px;
  }
  .column-3 {
    position: static;
    display: block;
    overflow: visible;
    padding-right: 15px;
    padding-left: 15px;
    clear: none;
    text-align: center;
  }
  .footer {
    margin-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .image-4 {
    display: none;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .image-5 {
    position: relative;
    left: -65px;
    bottom: -20px;
    overflow: visible;
    clear: none;
  }
  .image-6 {
    width: 100%;
    max-height: auto;
    max-width: auto;
    margin-bottom: 15px;
    margin-left: 0px;
    direction: ltr;
    text-align: center;
  }
  .unordered-list {
    width: 100%;
    margin-bottom: 0px;
    padding-left: 20px;
    float: none;
  }
  .unordered-list-2 {
    width: 100%;
    padding-left: 15px;
  }
  .column-7 {
    position: static;
  }
  .link-2 {
    position: relative;
  }
  .link-4 {
    position: relative;
    left: 15px;
  }
  .div-block-2 {
    margin-bottom: 15px;
  }
  .div-block-3 {
    margin-bottom: 15px;
  }
  .div-block-4 {
    margin-bottom: 15px;
  }
  .div-block-5 {
    margin-bottom: 15px;
  }
}

@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}